.logoBar {
  font-size: 2rem;
  font-family: "StarWars";
  font-style: normal;
  color: #ffd700;
}

.bar {
  padding-bottom: 1rem;
}

@media (max-width: 840px) {
  .logoBar {
    font-size: 1.5rem;
  }
}
