.random-starship {
  display: flex;
  padding: 1rem;
  border: 1px solid #444;
}

.random-starship .starship-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-right: 1rem;
}

.random-starship .list-group {
  margin: 1rem 0 0 1rem;
}

.random-starship.list-group-item {
  padding: 0.25rem;
}

.random-starship .list-group-item .term {
  margin-right: 0.5rem;
}
