.item {
  margin-top: 1.5rem;
  background-color: #303030;
  border: 2px solid #444;
  padding-top: 1rem;
  text-align: center;
  min-height: 230px;
}

.item p {
  font-size: 2rem;
}

.scores {
  font-size: 4rem;
  font-family: "StarWars";
  font-style: normal;
  color: #ffd700;
}

.check {
  color: #00bc8c;
}

.scoreCheck {
  padding-top: 2rem;
}

@media (max-width: 840px) {
  .item p {
    font-size: 1.5rem;
  }
}
