.personimagePhoto {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.person-card {
  text-align: center;
}
.person-image {
  width: 70%;
  height: 70%;
  border-radius: 5px;
}

.item-name {
  text-align: center;
}

.person-details .list-group-item {
  padding: 0.25rem;
}

.person-details .list-group-item .term {
  margin-right: 0.5rem;
}
