.item-list .list-group-item {
  cursor: pointer;
  margin-left: 10%;
  padding-left: 2%;
  font-size: large;
}

.item-list .list-group-item:hover {
  background-color: #444;
}

.item-list .list-group-item.important {
  background-color: #555;
}

.item-list {
  margin-bottom: 5%;
}
