h1,
h2,
h4,
h5 {
  color: #00bc8c;
  padding-top: 5%;
}

.battleArea {
  background-color: #303030;
  border: 3px solid #444;
  border-radius: 5px;
}

.test {
  margin: 2% 5%;
  justify-content: space-between;
}

.header {
  text-align: center;
}

.headBlock {
  display: flex;
  padding: 2rem 1rem;
}

.bars {
  padding-left: 2rem;
  width: 100%;
}

li {
  list-style-type: none;
}

.photos {
  display: flex;
  padding: 2% 5%;
  justify-content: space-between;
}

.photo-box {
  text-align: center;
}
